@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        min-height: 100vh;
        background-image: url("../../Content/Assets/background.JPG");
        background-position: center;
        background-size: cover;
    }
</style>

<div class="indexCaption">
    <div class="border">
    <h1>Invokes Graphics</h1>
    <p class="lead">Karl Kovacs (200327966, 200327966@student.georgianc.on.ca) <br/>Kayla Wiest (200321034, 200321034@student.georgianc.on.ca)</p>
    <p class="lead">Karl - Database, Models, Item/Orders controller, Azure <br/>Kayla - Database, Item/Colours/Orders controller, Views</p>
    <p style="margin: auto;width:560px;margin-bottom:10px; ">This application is a based on a vinyl decal store that is run by Kayla W. 
       It features the ability to add new item designs, colours, and select from two types of finishes to create a order.
    </p>
    </div>
</div>