@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        min-height: 100vh;
        background-image: url("../../Content/Assets/background.JPG");
        background-position: center;
        background-size: cover;
    }
</style>

<div class="indexCaption">
    <div class="border">
    <h1>Invokes Graphics</h1>
    <p class="lead">Karl Kovacs (200327966, 200327966@student.georgianc.on.ca) <br/>Kayla Wiest (200321034, 200321034@student.georgianc.on.ca)</p>
    <p>Karl - Database, Models, Orders controller, Azure <br/>Kayla - Database, Item/Colours controller, Views</p>
     
    <p>This application is a Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>Proin sit amet sapien vel eros viverra maximus ut id est. Proin et enim nec tortor vehicula tempus at id orci.</p>
    </div>
</div>