@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        min-height: 100vh;
        background-image: url("../../Content/Assets/background.jpeg");
        background-position: center;
        background-size: cover;
    }
</style>

<div class="indexCaption">
    <div class="border">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    </div>
</div>