body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* CUSTOME CSS */
/* All */
h2{
    color: #E9AD38;
    text-transform: uppercase;
}

.itemImg{
    width: 325px;
    height: 325px;
}

/* All Index */
.itemImgSmall{
     width:200px;
     height:200px;
}

.hover_img a{
     position:relative; 
}

.hover_img a span{ 
    position:absolute; 
    display:none; 
    z-index:99; 
}

.hover_img a:hover span { display:block; }

/* Home Index */
.indexCaption{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border{
    background-color: #222222;
    color: #fff;
    padding: 10px;
}
.border h1{
    color: #E9AD38;
    text-transform: uppercase;
    margin-top: 10px;

}

.border p{
    font-size: 14px;
}


/* Details*/
.imageInfo{
      float: left;
      width: 45%;
      margin-right: 5%;
}
/* Footer */

footer {
    color: #999999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
}

footer p {
    text-align: center;
    padding-top: 20px;
}